.main{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80%;
    flex-wrap: wrap;
    
}
.main .form{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 20px;
    padding: 20px;
    margin-top: 20px;
}
.main .form input{
    margin-right: 10px;
    border-radius: 5px;
    padding: 5px;
}
.main .form .remove{
    border-radius: 50%;
    cursor: pointer;
    font-size: 14px;
    font-weight: 600;
    background-color: rgb(232, 5, 5);
    color: white;
    border: none;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);

}
.main .form .add{
    margin-top: 10px;
    width: 100%;
    padding: 3px;
    border: 1px solid rgb(232, 231, 231);
    border-radius: 5px;
    cursor: pointer;
    background-color: white;
}
.main .form .add:hover{
    background-color: rgb(245, 245, 245);
}

.main .form .submit{
    margin-top: 15px;
    background-color: rgb(82, 119, 252);
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}
.main .form .error{
    color: red;
}